/* Configuración general del Navbar */
.navbar {
  width: 60px;
  height: 100vh;
  background-color: #f4f4f4; /* Fondo claro */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1000;
}

.navbar:hover {
  width: 200px;
}

.navbar h2 {
  font-size: 1.2em;
  color: #333; /* Color de texto oscuro */
  margin: 20px 0;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navbar:hover h2 {
  opacity: 1;
}

.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-button {
  background: none;
  border: none;
  width: 100%;
  padding: 15px;
  font-size: 1em;
  color: #333; /* Color de texto más oscuro para mejorar visibilidad */
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #e0e0e0;
  color: #000; /* Color más oscuro al pasar el mouse */
}

.navbar-button .icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  filter: brightness(0) saturate(100%) invert(21%) sepia(98%) saturate(7463%)
    hue-rotate(141deg) brightness(95%) contrast(102%);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.navbar-button:hover .icon {
  filter: brightness(0) saturate(100%) invert(42%) sepia(24%) saturate(2027%)
    hue-rotate(150deg) brightness(96%) contrast(99%);
}

.navbar-button span {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navbar:hover .navbar-button span {
  opacity: 1;
}

.navbar-button.active {
  background-color: #f1f1f1;
  color: #333;
  border-left: 4px solid #ccc;
}

.navbar-button.active .icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(203deg) brightness(102%) contrast(105%);
}

/* Estilo del submenú */
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f4f4f4;
}

.submenu-item {
  width: 100%;
}

.submenu-item button {
  background: none;
  border: none;
  width: calc(100% - 20px);
  padding: 10px 20px;
  font-size: 0.9em;
  color: #333; /* Color de texto mejorado */
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.submenu-item button:hover {
  background-color: #e9e9e9;
  color: #000; /* Más contraste */
}

.submenu-item button.active {
  color: #000;
  font-weight: bold;
}

/* Estilo del botón en el submenú */
.submenu-button {
  background: none;
  border: none;
  width: calc(100% - 20px);
  padding: 10px 20px;
  font-size: 0.9em;
  color: #333; /* Color de texto más oscuro */
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.submenu-button:hover {
  background-color: #e9e9e9;
  color: #000;
}

.submenu-button.active {
  color: #000;
  font-weight: bold;
}

/* Modo oscuro */
.dark-mode .navbar {
  background-color: #333;
}

.dark-mode .navbar h2 {
  color: white;
}

.dark-mode .navbar-button {
  color: #bbb;
  background-color: #444;
}

.dark-mode .navbar-button:hover {
  background-color: #555;
  color: #f4f4f4;
}

.dark-mode .navbar-button.active {
  background-color: #666;
  color: white;
  border-left: 4px solid #777;
}

.dark-mode .navbar-button.active .icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(203deg) brightness(102%) contrast(105%);
}

.dark-mode .submenu {
  background-color: #444;
}

.dark-mode .submenu-item button {
  color: #bbb;
}

.dark-mode .submenu-item button:hover {
  background-color: #555;
  color: #f4f4f4;
}

.dark-mode .submenu-button {
  color: #bbb;
  background-color: #444;
}

.dark-mode .submenu-button:hover {
  background-color: #555;
  color: #f4f4f4;
}

.dark-mode .submenu-button.active {
  color: #f4f4f4;
  font-weight: bold;
  background-color: #666;
}
