/* Estilos del dashboard */
.dashboard {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
}

/* Estilo de las tarjetas */
.card {
  background: #fff; /* Fondo blanco en modo claro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

/* Estilos del título de cada tarjeta */
h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: 1.2rem;
}

/* Modificar colores cuando esté en modo oscuro */
.dark-mode .dashboard {
  background-color: #1e1e1e; /* Fondo oscuro para el dashboard */
}

.dark-mode .card {
  background: #333; /* Fondo oscuro para las tarjetas */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); /* Sombra más suave */
}

.dark-mode h3,
.dark-mode h2 {
  color: white; /* Títulos en blanco en modo oscuro */
}
